.tech-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 3em;
	.skills {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		border-radius: 10px;
		padding: 0.5rem;
		gap: 1em;
		.skill {
			align-items: center;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
			cursor: pointer;
			display: flex;
			height: 6.5rem;
			justify-content: center;
			width: 6.5rem;
		}
	}
}

#portrait {
	margin-top: 3em;
	text-align: center;
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 10%;
		font-size: 3rem;

		h1 {
			span {
				font-size: 2rem;
			}
		}

		h2 {
			span {
				font-size: 2rem;
			}
		}
	}
}

.scroll-down {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-top: auto;
	height: 5em;
	width: 5em;
	background-color: black;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		i {
			animation: MoveUpDown 1s infinite;
		}
	}
}

.fa-chevron-down {
	color: #ffffff;
	font-size: 2em;
}

@keyframes MoveUpDown {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-25%);
	}

	100% {
		transform: translateY(0%);
	}
}
